
.single_recipe {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.single_recipe h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.single_recipe img {
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.single_recipe p {
    font-size: 16px;
    margin-bottom: 10px;
}

