.br-16 {
    border-radius: 16px !important;
}

.how-to-make-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.33;
    color: #242424;
    margin-bottom: 20px;
}

.how-to-make-title-cookingtime {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: #242424;
    margin-bottom: 20px;
}

.recipe-items-li { 
    line-height: 34px;
}