
.questionare {
  .bmiChartImage {
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
    max-width: 800px;
  }
  .bmiChartImageElement {
    width: 20%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    opacity: 0.5;
  }

  .bmiChartImage .active {
    width: 25%;
    border: 5px solid #FFFFFF !important;
    opacity: 1 !important;
  }

  .section-left {
    width: 50%; /* Fixed width */
    background: url("../../assets/img/walking.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-right {
    flex: 1;
  }
  .section {
    width: 98%;
    min-height: 82%;
    height: 82%;
    //padding: 20px;
    box-shadow: 0 7px 42px 0 rgb(213 213 213 / 75%);
    display: block;
    justify-content: center;
    align-items: center;
  }
  .section-body {
    height: 100%;
  }

  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }

  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }

  .question-count {
    margin-bottom: 20px;
  }

  .question-count span {
    font-size: 28px;
  }

  .question-text {
    margin-bottom: 12px;
  }

  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }

  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .questionare-button {
    width: 100%;
    font-size: 16px;
    margin-bottom: 17px;
    color: black;
    background-color: #ececec;
    border-radius: 9px;
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
    border: black;
    cursor: pointer;
  }

  .correct {
    background-color: #2f922f;
  }

  .incorrect {
    background-color: #ff3333;
  }

  .questionare-button:hover {
    background-color: rgba(85, 94, 125, 0.47);
    color: white;
  }

  .questionare-button:focus {
    outline: none;
  }

  .questionare-button svg {
    margin-right: 5px;
  }
}
