body.formufit-anon {
  background-image: url(https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}
