body {
    background-image: url(https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg) !important;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
    background-attachment: fixed !important; 
    background-position: center center !important;
    height: 100vh !important;
  }
  